[Unit]
Description=PHP daemon (Phabricator)
After=syslog.target network.target apache2.service mysql.service

[Service]
Type=oneshot
User=phabricator
Group=phabricator
Environment=PATH=/sbin:/usr/sbin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin
ExecStart=/var/www/phabricator/phabricator/bin/phd start
ExecStop=/var/www/phabricator/phabricator/bin/phd stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
