/* style file for Isabelle XHTML/XML output */

body { background-color: #FFFFFF; }

.head     { background-color: #FFFFFF; }
.source   { background-color: #F0F0F0; padding: 10px; }

.external_source { background-color: #F0F0F0; padding: 10px; }
.external_footer { background-color: #FFFFFF; }

.theories { background-color: #F0F0F0; padding: 10px; }
.sessions { background-color: #F0F0F0; padding: 10px; }

.name     { font-style: italic; }
.filename { font-family: fixed; }


/* basic syntax markup */

.hidden         { font-size: 1px; visibility: hidden; }

.binding        { color: #336655; }
.tfree          { color: #A020F0; }
.tvar           { color: #A020F0; }
.free           { color: blue; }
.skolem         { color: #D2691E; }
.bound          { color: green; }
.var            { color: #00009B; }
.numeral        { }
.literal        { font-weight: bold; }
.delimiter      { }
.inner_string   { color: #D2691E; }
.inner_comment  { color: #8B0000; }

.bold           { font-weight: bold; }

.keyword        { font-weight: bold; }
.operator       { }
.command        { font-weight: bold; }
.string         { color: #008B00; }
.altstring      { color: #8B8B00; }
.verbatim       { color: #00008B; }
.comment        { color: #8B0000; }
.control        { background-color: #FF6A6A; }
.bad            { background-color: #FF6A6A; }

.malformed_span { background-color: #FF6A6A; }

