/* style file for Isabelle XHTML/XML output */

@font-face {
  font-family: 'IsabelleText';
  src: url('fonts/IsabelleText.ttf') format('truetype');
}

@font-face {
  font-family: 'IsabelleText';
  src: url('fonts/IsabelleTextBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Vacuous';
  src: url('fonts/Vacuous.ttf') format('truetype');
}


/* standard document markup */

dt {
  float: left;
  clear: left;
  padding-right: 0.5em;
  font-weight: bold;
}

body { background-color: #FFFFFF; }

.head     { background-color: #FFFFFF; }
.source   {
  direction: ltr; unicode-bidi: bidi-override;
  background-color: #FFFFFF;
  padding: 10px;
  font-family: IsabelleText;
  line-height: 120%;
}

.theories { background-color: #FFFFFF; padding: 10px; }
.sessions { background-color: #FFFFFF; padding: 10px; }

.name     { font-style: italic; }
.filename { font-family: fixed; }


/* basic syntax markup */

.hidden         { font-family: Vacuous; font-size: 1%; color: rgba(255,255,255,0); }

.binding        { color: #336655; }
.tfree          { color: #A020F0; }
.tvar           { color: #A020F0; }
.free           { color: blue; }
.skolem         { color: #D2691E; }
.bound          { color: green; }
.var            { color: #00009B; }
.numeral        { }
.literal        { font-weight: bold; }
.delimiter      { }
.inner_string   { color: #FF00CC; }
.inner_cartouche { color: #CC6600; }
.inner_comment  { color: #CC0000; }

.bold           { font-weight: bold; }

.keyword1       { color: #006699; font-weight: bold; }
.keyword2       { color: #009966; font-weight: bold; }
.keyword3       { color: #0099FF; font-weight: bold; }
.operator       { }
.string         { color: #FF00CC; }
.alt_string     { color: #CC00CC; }
.verbatim       { color: #6600CC; }
.cartouche      { color: #CC6600; }
.comment        { color: #CC0000; }
.improper       { color: #FF5050; }
.bad            { background-color: #FF6A6A; }
