#
# $Id$
#
# Isabelle user settings sample -- may be copied to ~/isabelle/etc/settings.
#

###
### Compilation options
###

#ISABELLE_HTML=false


###
### Heap files
###

# Note: ML system and platform info is appended automatically!
#ISABELLE_PATH=other-places-where-heaps-may-reside:$ISABELLE_PATH

#DEFAULT_LOGIC=ZF
#DEFAULT_LOGIC=HOL
#DEFAULT_LOGIC=HOLCF


###
### Interfaces
###

# Simple xterm based interface.
#ISABELLE_INTERFACE=xterm
#ISABELLE_INTERFACE_OPTIONS="-g 80x50 -s false"
