/** Isabelle CSS **/

form {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
}

form > div > * {
  vertical-align: middle;
  margin: var(--vscode-spacing-size20);
}

pre {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  margin-block: var(--vscode-spacing-size40);
}

.source {
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
  font-family: var(--vscode-editor-font-family);
}

.source a {
  color: inherit;
  text-decoration: none;
}

.source a:hover { text-decoration: underline; }

sub, sup { font-size: 80%; }

span.hidden {
  font-family: Vacuous;
  font-size: 1%;
  color: transparent;
}

span.active {
  cursor: pointer;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

span.active:hover { background-color: var(--vscode-button-hoverBackground); }

.information_message {
  display: block;
  background-color: color-mix(in srgb, var(--vscode-editorInfo-foreground) 15%, transparent);
}

.warning_message, .legacy_message {
  display: block;
  background-color: color-mix(in srgb, var(--vscode-editorWarning-foreground) 15%, transparent);
}

.error_message {
  display: block;
  background-color: color-mix(in srgb, var(--vscode-editorError-foreground) 15%, transparent);
}

.writeln_message, .tracing_message {
  display: block;
  background-color: color-mix(in srgb, var(--vscode-editor-foreground) 15%, transparent);
}

.separator {
  visibility: hidden;
  overflow: hidden;
  flex: 0 0 var(--vscode-spacing-size20);
  block-size: var(--vscode-spacing-size20);
  line-height: 0;
}


/** vscode-elements-lite **/

/* proper inline label */
.vscode-label { display: inline-block; }

/* source buttons cannot use normal styling */
.vscode-button.source {
  display: inline-block;
  line-height: normal;
  padding-top: var(--vscode-spacing-size40);
  padding-bottom: var(--vscode-spacing-size40);
}

/* incorrect secondary border color */
.vscode-button.secondary { border-color: var(--vscode-button-secondaryBorder); }

/* checkbox with surrounding label */
.vscode-checkbox input[type="checkbox"]:checked + .icon .icon-checked { display: block; }
.vscode-checkbox input[type="checkbox"]:focus + .icon {  border-color: var(--vscode-focusBorder); }

/* respect column width */
div.vscode-textfield {  width: auto; }
div.vscode-textfield input[type="text"] { width: 100%; }


/** additional VSCode tabs **/

.vscode-tablist { border-bottom: var(--vscode-strokeThickness) solid var(--vscode-panel-border); }

.vscode-tab-header {
  outline: none;
  position: relative;
  min-height: var(--vscode-spacing-size320);
  padding: var(--vscode-spacing-size20) var(--vscode-spacing-size100);
  font-size: calc(var(--vscode-font-size) * 11 / 13);
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  background: transparent;
  border: 0;
  color: var(--vscode-panelTitle-inactiveForeground);
  cursor: pointer;
}

.vscode-tab-header.active, .vscode-tab-header:hover {
  color: var(--vscode-panelTitle-activeForeground);
  outline: var(--vscode-strokeThickness) solid var(--vscode-contrastActiveBorder, transparent);
}

.vscode-tab-header:not(.active):hover { outline-style: dashed; }

.vscode-tab-header.active::after, .vscode-tab-header:focus-visible::after {
  content: "";
  position: absolute;
  bottom: var(--vscode-spacing-size40);
  inset-inline: var(--vscode-spacing-size80);
  border-top: var(--vscode-strokeThickness) solid var(--vscode-panelTitle-activeBorder);
}

.vscode-tab-header:focus-visible { color: var(--vscode-panelTitle-activeForeground); }

.vscode-tab-header:focus-visible::after {
  border-top-color: var(--vscode-focusBorder);
  border-top-width: calc(2 * var(--vscode-strokeThickness));
}

.vscode-tab-panel { padding-block: var(--vscode-spacing-size80); }


/** additional VSCode dropdown **/

.vscode-dropdown-container {
  display: inline-block;
  position: relative;
}

.vscode-dropdown {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 50vh;
  overflow-y: auto;
  background: var(--vscode-dropdown-listBackground, var(--vscode-dropdown-background));
  color: var(--vscode-dropdown-foreground);
  border: var(--vscode-strokeThickness) solid var(--vscode-dropdown-border, var(--vscode-widget-border, transparent));
}

.vscode-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--vscode-spacing-size40) var(--vscode-spacing-size80);
}

.vscode-dropdown-item.clickable { cursor: pointer; }
.vscode-dropdown-item.clickable:hover {
  background: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.vscode-dropdown-item.active {
  background: var(--vscode-list-focusBackground);
  color: var(--vscode-list-focusForeground);
  outline: var(--vscode-strokeThickness) solid var(--vscode-list-focusOutline, transparent);
  outline-offset: calc(-1 * var(--vscode-strokeThickness));
}
