/* additional style file for Isabelle/jEdit output */

.message { margin-top: 0.3ex; background-color: #F0F0F0; }

.writeln { }
.tracing { background-color: #F0F8FF; }
.warning { background-color: #EEE8AA; }
.error { background-color: #FFC1C1; }

.report { display: none; }

.hilite { background-color: #FFCC66; }

.keyword { font-weight: bold; color: #009966; }
.operator { font-weight: bold; }
.command { font-weight: bold; color: #006699; }

.sendback { text-decoration: underline; }
.sendback:hover { background-color: #FFCC66; }
