
body {
    font-family: sans-serif;
    background-color: white;
}

p.error {
    font-weight: bold;
    color: #ff0000;
}

p.info {
    font-style: italic;
}

input#query {
    width: 100%;
}

legend {
    padding : 0.5em;
    font-weight: bold;
}

label {
    width: 8em;
    float: left;
}

fieldset {
    padding: 0 1em 1em 1em;
}

div.settings {
    padding-top: 2em;
    float: left;
}

div.settings label {
    font-style: italic;
}

div.settings div {
    padding-top: 1ex;
}

div.mainbuttons {
    margin-top: 8.5ex;
    float: right
}

div.mainbuttons #reset {
    margin-right: 5em;
}

table.findtheorems {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

table.findtheorems tr.row0 { background-color: white; }
table.findtheorems tr.row1 { background-color: #f5f5f5; }
table.findtheorems tbody tr:hover { background-color: #dcdcdc; }

table.findtheorems td {
    vertical-align: top;
    padding-left: 1em;
    padding-bottom: 1em;
}

table.findtheorems td.name {
    font-size: small;
    font-style: italic;
    padding-right: 1em;
}
table.findtheorems td.thm {
    vertical-align: top;
    font-size: small;
}
table.findtheorems td.thm pre {
    margin: 0em;
}
table.findtheorems th {
    text-align: left;
    padding-bottom: 1ex;
}

table.findtheoremsquery th {
    font-weight: normal;
    text-align: left;
    padding-top: 1em;
}

span.class { color: #ff0000 }
span.tfree { color: #9370d8 }
span.tvar { color: #9370d8 }
span.free { color: #add8e6 }
span.bound { color: #008400 }
span.var { color: #00008b }
span.xstr { color: #000000 }

span.sorried:after { content: " [!]"; }

div.help a {
    font-size: xx-small;
    color: #d3d3d3;
}

